@import url(https://fonts.googleapis.com/css?family=Hind:300,regular,500,600,700);

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(20, 20, 20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Hind, sans-serif;
  font-size: calc(20px + (24 - 20) * ((100vw - 375px) / (1920 - 375)));
  font-weight: 500;
  color: rgb(210, 210, 210);
  &:hover {
    color: rgb(230, 230, 230);
  }
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 40px 20px;
  background-color: rgba(240, 248, 255, 0.765);
  color: rgb(25, 25, 25);
  text-transform: capitalize;
  font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 375)));
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(240, 255, 255, 0.856);
    border-radius: 20px 40px;
    scale: 1.1;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #353535;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-style: normal;
  font-family: Hind, sans-serif;
  color: rgb(25, 25, 25);
}
h1 {
  font-size: calc(32px + (70 - 32) * ((100vw - 375px) / (1920 - 375)));
  line-height: calc(35px + (65 - 35) * ((100vw - 375px) / (1920 - 375)));
  color: rgb(227, 227, 227);
  text-align: end;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

//doesn't let font sizes grow in more than 1920px screen sizes
@media (min-width: 1920px) {
  button {
    font-size: 20px;
  }
  a {
    font-size: 24px;
  }
  h1 {
    font-size: 70px;
    line-height: 65px;
  }
}
